
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/utils.css">
</head>
<body>
    <div class="container-father">
    <div class="container">
    <form action="/register" method="post">
        <h1> <span> Registration </span>Form</h1>
        <label for="">Name</label>
        <input type="text" placeholder="Name..." name="name" required>
        <label for="">Username</label>
        <input type="text" placeholder="Username..." name="username" required>
        <label for="">E-mail</label>
        <input type="email" placeholder="E-mail..." name="email" required>
        <label for="">Password</label>
        <input type="password" placeholder="Password..." name="password" required>
        <label for="">Contact</label>
        <input type="number" placeholder="Contact..." name="phone" required>
        <div class="btn">
        <button>Registered Now.</button>
        <a href="/signin">Sign in</a>
    </form>
</div>

</div>
<hr>
   

</body>
</html>