<nav style="background-color: #5cbdb9;" class="navbar  px-5 py-1">
    <div class="container-fluid">
      <a style="font-family:leiko;" class="navbar-brand text-white fs-3"><img height="40px" src="https://www.logolynx.com/images/logolynx/s_c8/c84733ae6b0352d13509fe0cb3c31ffa.png" alt="">iddcart</a>
      <div>
      <a class="fw-bold text-decoration-none text-white  me-5"  href="/"> Show products</a>
      <a class="fw-bold  text-decoration-none text-white  me-5" href="/add">Add items <img height="30px" src="https://img.icons8.com/3d-fluency/2x/add.png" alt=""></a>
      
      <a class="fw-bold  text-decoration-none text-white " href="/login">Login sign/up <img height="30px" src="https://www.pinclipart.com/picdir/big/391-3911495_sign-up-login-transparent-login-logo-clipart.png" alt=""></i></a>

      <a class="fw-bold  text-decoration-none text-white  ms-5" href="/account">Account<img height="30px" src="https://img.icons8.com/3d-fluency/2x/user-male-circle.png" alt=""></a>

      <!-- <a class="fw-bold  text-decoration-none text-white  ms-5" href="">Cart<img height="30px" src="https://img.icons8.com/3d-fluency/2x/user-male-circle.png" alt=""></a> -->


          
    </div>
    </div>
  </nav>